@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Italiana&family=Montserrat:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-opacity {
  transition: opacity 1s ease-in-out;
}

/* Home.css */
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}